export S3_REPOS_BUCKET=$( terraform output bucket_name )
export S3_BLOBS=s3://$( terraform output bucket_parent_domain )/$S3_REPOS_BUCKET/blob/
export AWS_ACCESS_KEY_ID=$( terraform output concourse_access_key )
export AWS_SECRET_ACCESS_KEY=$( terraform output concourse_secret_key )
