source $HOME/.env/dpb587
export S3_BLOBS=s3://s3-us-west-2.amazonaws.com/dpb587-tmp-us-west-2/upstream-blob-receipts/
export S3_REPOS_BUCKET=dpb587-tmp-us-west-2
export S3_REPOS_PREFIX=upstream-blob-repos/
